@import url(https://db.onlinewebfonts.com/c/877157025d03c4d7ed11a04f1dfd4472?family=Havelock+Titling+Bold);




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Havelock Titling Bold";
}


body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, #1d1d1d, #040707);
}

header {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    color: #0bbeb5;
    font-size: 1.5rem;
    padding: 50px;
}

nav p{
    font-size: 12px;
}

.nav_title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 2rem;
}
ol{
    list-style-type: none;
}
.nav_lists{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search_logo{
    cursor: pointer;
}

.sec_nav{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav_lists a{
    text-decoration: none;
    color: #0bbeb5;
}

h5{
    color: #0bbeb5;
    font-size: 8px;
}


main{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15rem;
    padding: 100px 0px;
}

hr{
    width: 70px;
    border: none;
    border-bottom: 1px solid #0bbeb5;
}

.title_color{
    color: #0bbeb5;
}

.abt_designs{
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.5rem;
}

.first_main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 100px;
}

.first_main img{
    border-radius: 40px;
    -webkit-box-shadow: 40px 40px 45px 0px #0bbeb5;
    -moz-box-shadow: 40px 40px 45px 0px #0bbeb5;
    box-shadow: 40px 40px 45px 0px #0bbeb5;
}


.first_cards_section{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.second_main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 100px;
}

.material-symbols-outlined {
    font-size: 7rem;
    color: #0bbeb5;
}

.first_cards_section h4,h5,p{
    color: white;
}

.first_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 20px;
    width: 250px;
    height: 275px;
    background: linear-gradient(#0c0c0c, #073633);
    border-radius: 5px;
    text-align: center;
    gap: 1rem;
}

.first_card h5{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.second_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    width: 250px;
    height: 275px;
    background: linear-gradient(#0c0c0c, #073633);
    border-radius: 5px;
    text-align: center;
    gap: 1rem;
}

.second_card h5{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
